::placeholder{
    color:#eee !important;
}
input{
    width: 100%;
    border:none;
    border-radius: 3px;
    padding:0px 10px;
}

label{
    color:gray;
}
  
input.disabled{
    pointer-events: none !important;
    background: #cce;
    color:gray;
}

textarea {
    width: 100%;
    height: 125px ;
    resize: none !important;
    border:none;
}

.endpoint-response{
    height:295px !important;
}