extends layout
block content
    h3 Endpoint
    form.form-signup(method="post",action="/endpoints")
        input.form-control(type="hidden", id="collectionId", name="collectionId", value="#{collectionId}")
        input.form-control(type="hidden", id="_id", name="_id")
        div.row#form-package
            .col-md-4
                .row
                    .form-group
                        label(for="name") Name
                        input.form-control(type="text", id="name", name="name", placeholder="endpoint name", required)
                br
                .row
                    .col-md-4
                        .form-group
                            label(for="prefix") Method
                            select.form-control(name='prefix')
                                option(value='get', selected) GET
                                option(value='post') POST
                                option(value='put') PUT
                                option(value='patch') PATCH
                                option(value='delete') DELETE
                                option(value='head') HEAD
                                option(value='options') OPTIONS
                    .col-md-4
                        .form-group
                            label(for="status") HttpStatus
                            input.form-control(type="number", id="status", name="status", value="200")
                    .col-md-4
                        .form-group
                            label(for="type") Type
                            select.form-control(name='type')
                                option(value='text', selected) TEXT
                                option(value='json') JSON
                                
                br
                .row
                    .form-group
                        label(for="path") Path
                        input.form-control(type="text", id="path", name="path", placeholder="/path", required)
            .col-md-7.offset-md-1
                .form-group
                    label(for="comment") Comment(s)
                    textarea.form-control(type="text", id="comment", name="comment", placeholder="")
        br
        .row 
            .col-md-12
                .form-group
                    label(for="response") Response
                    textarea.form-control.endpoint-response(type="text", id="response", name="response", placeholder="")  

        br
        .row.text-right
            .col-md-12
                button.btn.btn-primary(type="submit") Save