doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/fa/css/fontawesome.css")
    link(rel="stylesheet", href="/fa/css/solid.css")
    link(rel="stylesheet", href="/fa/css/brands.css")
  body
    div 
      h5 Mock Backend v1.0
      br
    block content
script(src="/javascripts/index.js")
